.navbar {
    overflow: hidden;
    background-color:#0b3c5c;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  .navbar a.active {
    background-color: #315686;
    color: white;
  } 
